/*CSS document*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


    {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
}

/*************** LAPTOP ******************/

header {
    display: flex;
    background: none;
    width: 100%;
    padding: 0 20px;
}


#logo-burger {
    display: flex;
    align-items: center;
    margin-left: .5em;
}




.logo1 {
    display: flex;
    width: 150px;
    position: relative;
}

#logo a,
#main-nav a {
    color: black;
    text-decoration: none;
}

#main-nav {
    display: flex;
    justify-content: flex-end;
    margin-right: .5em;
    list-style: none;
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
}

#main-nav a {
    display: flex;
    margin: 0 25px;
    font-size: 18px;
    line-height: 20px;
}

#main-nav a:hover {
    color: darkgray;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.active {
    color: white;
}

.hidden {
    display: none;
}

label {
    display: none;
}

#logo {
    width: 30%;
    margin: 2%;


}



/***************forside*******************/

.forside-billede {
    width: 100%;
    margin-top: 2%;


}

.velkommen {
    text-align: center;
    margin-top: 8%;


}

.text, .text-program {
    text-align: left;
    margin-top: 5%;
    padding: 2%;

}

.baggrund {
    background-color: #AFA299;


}

#pool {
 width: 75%;
    margin: 8%;


}


/**********footer**************/

footer{
    padding: 3%;
    margin-top: 6%;
    
    
    
}

.footer-logo{
  width: 100%;
    

    
    
    
}

.footer-text{
    text-align: center;
    margin-top: 5%
    
    
}


/****************Vietnam******************/


#vietnam-billede{
    width: 100%;
    padding: 3%;
    
    
}

#program{
    background-color: powderblue;
    
    
}


@media only screen and (max-width: 900px) {

    /******************* NAVIGATION ***********/
    header {
        display: block;
    }

    #logo-burger {
        justify-content: space-between;
        align-items: center;
    }

    #logo-burger label {
        display: block;
        font-size: 32px;
        cursor: pointer;
    }

    #toggle:checked + #main-nav {
        display: block;
    }

    #main-nav {
        display: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #main-nav li {
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    #main-nav a {
        margin: 0;
        line-height: 50px;
        text-align: center;
        justify-content: center;
    }

    #main-nav li:last-of-type {
        border-bottom: none;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    /*-------------------------- MOBILE -------------------------------*/
    @media only screen and (max-width: 480px) {
        
        
        
        
    }

    /*----------------------------- TABLET ----------------------------*/
    @media only screen and (min-width: 481px){
        /*************forside*************/
        
        
        
        #pool{
            width: 40%;
            display: block;
    margin-left: auto;
    margin-right: auto;
            
            
        }
        .baggrund{
            padding-bottom:1%;
        }
        
        
        
     /*********vietnam**********/   
        #vietnam-billede{
           display: block;
    margin-left: auto;
    margin-right: auto;
            width: 70%;
            
            
            
            
        }
        
        /***program**/
        
        #program{
            display: flex;
            flex-direction: row;
       
            margin: 10%;
            background-color: powderblue;
           
            
            
        }
        .text-program{
            justify-content: center;
            
         /***************footer*******/   
        }
            
        #footer{
            display: flex;
            flex-direction: row; 
            margin: 2%;
            
        }   
        
        .footer-logo{
            width: 50%;
            margin: 3%;
        }    
            
        .footer-text{
           
            padding: 3%;
            margin-top: 20%;
            
            
        }
        
        #box2{
            margin-top: 8%;
            margin-left: 4%;
            
            
        }
            
        
        
        }
     
            
            
          
    
        
        
            
            
        
        
        
        
    

    /*-------------------------- LAPTOP --------------------------*/

    @media only screen and (min-width: 850px) {
        
        
        .forside-billede{
            height: 70vh;
        }
            
            
         
          
          
        #footer{
            display: flex;
            flex-direction: row; 
            
            
        }   
        
        .footer-logo{
            width: 20%;
            margin: 3%;
        }    
            
        .footer-text{
           display: flex;
            flex-direction: row;
            padding: 3%;
            margin-top: 20%;
            
            
        }
           /***program**/
        
        #program{
           display: flex;
            flex-direction: row;
           
            margin: 10%;
            background-color: powderblue;
          
            
        }
        
    }

            
            
            
        
     
    
        
        
        
    
